.root {
	-fx-background-color: #333333;

}

VBox {
	-fx-background-color: darkred;

}

.button {
	-fx-background-color: darkred;
	-fx-color: #cdbdbd;

}

.button:hover {
    -fx-background-color: #383838;

}
